<!DOCTYPE html>
<html lang="en">

<head>
  {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
  <meta charset="utf-8">
  <title>Noam's site</title>
</head>

<body>
  <section class="section">
    <div class="container" style="max-width: 600px;margin-left:30px">
      {% block content %} {% endblock %}
    </div>
  </section>
  <img src="//counter.websiteout.net/compte.php?S=noamfinkelstein&C=5&D=0&N=0&M=1" alt="" border="0" height="0px" width="0px" />
</body>

</html>
