{% extends "base.html" %}

{% block content %}
<br>
Welcome to my website! I'm Noam Finkelstein.
<br>
<br>
I've spent my career as a research scientist and engineer, working with clinical and biological
data. Most recently, I was head of ML at <a href="https://www.delfina.com">Delfina</a>.
<br>
<br>
I currently consult on clinical AI research and applications.
<br>
<br>
Feel free to <a href="mailto:noamf.ink@proton.me">get in touch</a>!
<br>
<br>
<a href="{{ get_url(path='@/posts/_index.md') }}">Read my blog</a>
{% endblock content %}
